/** {
  margin: 0;
  padding: 0;
}*/
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: gray;
  margin: 0 auto;
  padding: 0;
}
#container {
  max-width: 1200px;
  min-width: 480px;
}

/* Text*/
h1 {
  font-size: 35px;
}
h3 {
  font-size: 16px;
}
h4 {
  color: white;
}
h1,
h2,
h3 {
  color: black;
}
.footer-title {
  font-size: 18px;
}
#small-paragraph {
  font-size: 14px;
}

/* images*/
.banner {
  max-width: 1200px;
}
/*why cant i see my image and icons in live server?*/
.icons {
  max-width: 100%;
}
/*overall structure*/
.namebox {
  background-color: rgb(241, 241, 241);
  text-align: start;
  padding-left: 80px;
  padding-top: 30px;
  padding-bottom: 45px;
}
.subtitle {
  text-align: start;
  color: grey;
  font-weight: lighter;
}
/*how to remove padding on top of this .subtitle? or i mean how to approximate it to the title*/
.menu ul li {
  display: inline-block;
  padding: 8px;
  margin-left: 25px;
}
.menu ul li a {
  text-decoration: none;
  color: black;
}
#special {
  color: gray;
  font-weight: lighter;
}
.grid {
  display: grid;
}
aside {
}

footer {
  padding: 20px;
  background-color: rgb(76, 46, 185);
}
footer p {
  color: white;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
}
/*how to add space at the bottom of the page?*/
.flexbox {
  display: flex;
  flex-direction: column;

  /* margin-right: 80px;
  margin-left: 50px;*/
}
iframe {
  max-width: 225px;
  max-height: 200px;
}
.flex-about-page {
  /*how to put the text in 2 rows like on the webpage?*/
}

.flex-archives a {
  text-decoration: none;
  color: white;
}
.flex-navigation a {
  text-decoration: none;
  color: white;
}

footer ul li {
  list-style: none;
  border: solid white;
  border-width: 0 0 1px 0;
  padding-bottom: 30px;
  padding-top: 20px;
}
footer ul {
  padding-left: 0px;
}
li:last-child {
  border: none;
}
.flex-navigation li:nth-child(3) {
  text-indent: 10px;
}
.flex-navigation li:nth-child(2) {
  /*how to indent a border here?*/
}
