/** {
  margin: 0;
  padding: 0;
}*/
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: gray;
  margin: 0 auto;
  padding: 0;
}
/*is this font-family correct? i feel like it looks different in the footer?how can i find the rigth ones?*/
#container {
  max-width: 100%;
}

/* Text*/
h1 {
  font-size: 2.2em;
  margin-bottom: 0;
}

h3 {
  font-size: 1em;
  margin-top: 1.5em;
}
h4 {
  color: white;
}
h1,
h2,
h3 {
  color: black;
}
li {
  list-style-type: none;
}
.footer-title {
  font-size: 1.1em;
}
/*#small-paragraph {
  font-size: 0.9em;
}*/
.smalltext {
  font-size: 0.8em;
}
/* images*/
.banner img {
  width: 100%;
}

.icons {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(4, 40%);
  column-gap: 5%;
  row-gap: 5%;
  justify-items: start;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: stretch;
  align-content: stretch;
}

.icons li img {
  width: 5em;
}
/*overall structure*/
.namebox {
  background-color: #fafafa;
  text-align: start;
  padding-left: 80px;
  padding-top: 30px;
  padding-bottom: 45px;
}
.subtitle {
  text-align: start;
  color: grey;
  font-weight: lighter;
  margin-top: 8px;
  margin-left: 5px;
}

.menu ul li {
  display: inline-block;
  padding: 8px;
  margin-left: 25px;
}
.menu ul li a {
  text-decoration: none;
  color: black;
}
#special {
  color: gray;
  font-weight: lighter;
}

.flex-content {
  display: flex;
  flex-direction: column;
  padding: 0em 5em 10em 8em;
}
.flex-content .grid:first-child h2 {
  margin-bottom: 0;
}
/*not sure how to remove margin*/
.grid {
  display: flex;
  flex-direction: row-reverse;
}
.grid section {
  margin-top: 3em;
  width: 35%;
  margin-bottom: 1.5em;
}
.grid p {
  margin-right: 3em;
  margin-bottom: 2em;
}
/*how to make paragraphs in sections with h2 title to be a bit more spread out by the height of the page? when i compare it to the task something is off..*/
.grid section p {
  text-align: start;
}

.grid section:first-child {
  margin-left: 3em;
  width: 65%;
  margin-top: 3.5em;
}

footer {
  padding: 1.6em;
  background-color: rgb(103, 54, 205);
}
footer p {
  color: white;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.flexbox {
  display: flex;
  flex-direction: column;
  line-height: 0em;
  /*padding-bottom: 4em;*/

  /* margin-right: 80px;
  margin-left: 50px;*/
}
iframe {
  /*max-width: 200px;
  max-height: 150px;*/
  max-width: 14em;
  max-height: 12.5em;
}
.flex-find-us {
  margin-top: 10px;
}
.flex-about-page {
  width: 17%;
  line-height: 1.8em;
}

.flex-archives a {
  text-decoration: none;
  color: white;
}
.flex-navigation a {
  text-decoration: none;
  color: white;
}
/*how to remove some space in between archives and march2016 and in between navigation and home? how to target them?*/
footer {
  /* padding-bottom: 100px;*/
  padding-bottom: 2em;
}

footer ul li {
  list-style: none;
  /*border: solid white;
  border-width: 0 0 1px 0;*/
  border-bottom: 1px solid white;
  /* padding-bottom: 30px;
  padding-top: 20px;*/
  padding-bottom: 1.8em;
  padding-top: 1.5em;
}

footer ul {
  padding-left: 0px;
}
li:last-child {
  border: none;
}
.flex-navigation li:nth-child(3) {
  text-indent: 1em;
}
/*.flex-navigation li:nth-child(3) {
  margin-left: 0.6em;
}*/
